# default values for the Helm chart
# This file can be overridden by providing a custom values file when installing the chart

backend:
  image:
    repository: ghcr.io/shayops2/wct-stats-backend
    tag: "v1.1.1"
frontend:
  image:
    repository: ghcr.io/shayops2/wct-stats-frontend
    tag: "v1.1.8"
ingress:
  ingressClassName: tailscale
  enabled: true
  annotations:
    enabled_annotations: true
    tailscale.com/funnel: "true"
  backend:
    host: backend
    paths:
      - /
  frontend:
    host: wct
    paths:
      - /
mongo:
  replicas: 2
  storageSize: 15Gi
  storageClass: longhorn
