# default values for the Helm chart
# This file can be overridden by providing a custom values file when installing the chart

backend:
  image:
    repository: ghcr.io/shayops2/wct-stats-backend
    tag: "v1.0.3"

frontend:
  image:
    repository: ghcr.io/shayops2/wct-stats-frontend
    tag: "v1.0.2"



ingress:
  enabled: true
  annotations:
    enabled_annotations: false
  backend:
    host: backend.localhost
    paths:
      - /
    className: traefik
  frontend:
    host: frontend.localhost
    paths:
      - /
    className: traefik

mongo:
  # mongoDB restore job configuration
  restore:
    env:
      - name: ENV
        value: production
      - name: MONGO_HOST
        value: mongodb://__MONGO_HOST__:27017  
    envFrom:
      - secretRef:
          name: oci-bucket-par
    imagePullSecrets:
      - name: regcred
    image:
      repository: ghcr.io/shayops2/wct-stats-mongo-restore
      tag: "2.4"
    imagePullPolicy: IfNotPresent