{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "chart.fullname" . }}-backend-ingress
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName  }}
  {{- if eq .Values.ingress.backend.className "tailscale" }}
  tls:
    - hosts:
      - {{ .Values.ingress.backend.host }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.backend.host }}
    http:
      paths:
      - backend:
          service:
            name: {{ include "chart.fullname" . }}-backend
            port:
              number: {{ (index .Values.backend.ports 0).port }}
        path: /
        pathType: Prefix
{{- end }}