apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-mongo
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.mongo.replicas }}
  selector:
    matchLabels:
      app: {{ include "chart.fullname" . }}-mongo
  template:
    metadata:
      labels:
        app: {{ include "chart.fullname" . }}-mongo
    spec:
      containers:
      - env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.mongo.mongo.image.repository }}:{{ .Values.mongo.mongo.image.tag }}
        args: {{- toYaml .Values.mongo.mongo.args | nindent 8 }}
        livenessProbe: {{- toYaml .Values.mongo.mongo.livenessProbe | nindent 10 }}
        name: {{ include "chart.fullname" . }}-mongo
        ports:
        - containerPort: {{ (index .Values.mongo.ports 0).port }}
          protocol: TCP
        resources: {}
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-mongo
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "chart.fullname" . }}-mongo
  ports:
  {{- .Values.mongo.ports | toYaml | nindent 2 }}
