apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-backend
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: {{ include "chart.fullname" . }}-backend
  template:
    metadata:
      labels:
        app: {{ include "chart.fullname" . }}-backend
    spec:
      imagePullSecrets: 
{{- toYaml .Values.backend.imagePullSecrets | nindent 8 }}
      containers:
      - image: {{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}
        {{- if .Values.backend.args }}
        args: {{- toYaml .Values.backend.args | nindent 8 }}
        {{- end }}
        {{- if .Values.backend.command }}
        command: {{- toYaml .Values.backend.command | nindent 8 }}
        {{- end }}
        env:
        {{- range .Values.backend.env }}
          - name: {{ .name }}
            value: {{ include "envValue" (dict "env" . "context" $) | quote }}
        {{- end }}        
        {{- if .Values.backend.envFrom }}
        envFrom:
        {{- range .Values.backend.envFrom }}
        - secretRef:
            name: {{ .secretRef.name }}
        {{- end }}
        {{- end }}
        name: backend
        ports:
        - containerPort: {{ (index .Values.backend.ports 0).targetPort }}
          protocol: TCP
        resources: {}
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-backend
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "chart.fullname" . }}-backend
spec:
  type: {{ .Values.backend.type }}
  selector:
    app: {{ include "chart.fullname" . }}-backend
  ports:
  {{- .Values.backend.ports | toYaml | nindent 2 }}
