apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-frontend
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      app: {{ include "chart.fullname" . }}-frontend
  template:
    metadata:
      labels:
        app: {{ include "chart.fullname" . }}-frontend
    spec:
      imagePullSecrets: 
{{- toYaml .Values.frontend.imagePullSecrets | nindent 8 }}
      containers:
      - env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}
        name: frontend
        ports:
        - containerPort: {{ (index .Values.frontend.ports 0).targetPort }}
          protocol: TCP
        resources: {}
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-frontend
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "chart.fullname" . }}-frontend
spec:
  type: ClusterIP
  selector:
    app: {{ include "chart.fullname" . }}-frontend
  ports:
  {{- .Values.frontend.ports | toYaml | nindent 2 }}
