{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "chart.fullname" . }}-frontend-ingress
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- if eq .Values.ingress.frontend.className "tailscale" }}
  tls:
    - hosts:
      - {{ .Values.ingress.frontend.host }}
  {{- end }}
  rules:
  - host: {{ .Values.ingress.frontend.host }}
    http:
      paths:
      - backend:
          service:
            name: {{ include "chart.fullname" . }}-frontend
            port:
              number: {{ (index .Values.frontend.ports 0).port}}
        path: /
        pathType: Prefix
{{- end }}