apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "chart.fullname" . }}-mongo-restore
  labels:
    app.kubernetes.io/name: {{ include "chart.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  backoffLimit: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "chart.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      restartPolicy: OnFailure
      imagePullSecrets:
{{- toYaml .Values.mongo.restore.imagePullSecrets | nindent 6 }}
      containers:
        - name: mongo-restore
          image: {{ .Values.mongo.restore.image.repository }}:{{ .Values.mongo.restore.image.tag }}
          imagePullPolicy: {{ .Values.mongo.restore.imagePullPolicy | default "IfNotPresent" | quote }}
          env:
            - name: MONGO_HOST
              value: "{{ printf "%s-mongo" (include "chart.fullname" .) }}"
            - name: ENV
              {{- $env := "production" }}
              {{- range .Values.backend.env }}
                {{- if eq .name "ENV" }}
                  {{- $env = .value }}
                {{- end }}
              {{- end }}
              value: {{ $env | quote }}
          envFrom:
{{- toYaml .Values.mongo.restore.envFrom | nindent 12 }}
      volumes: []