apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "chart.fullname" . }}-mongo-restore
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: OnFailure
      imagePullSecrets:
{{- toYaml .Values.mongo.restore.imagePullSecrets | nindent 6 }}
      containers:
        - name: mongo-restore
          image: {{ .Values.mongo.restore.image.repository }}:{{ .Values.mongo.restore.image.tag }}
          imagePullPolicy: {{ .Values.mongo.restore.imagePullPolicy | default "IfNotPresent" | quote }}
          env:
          {{- range .Values.mongo.restore.env }}
          - name: {{ .name }}
            value: {{ .value | replace "__MONGO_HOST__" (printf "%s-mongo" (include "chart.fullname" $)) | quote }}
          {{- end }}
          envFrom:
{{- toYaml .Values.mongo.restore.envFrom | nindent 12 }}