apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "chart.fullname" . }}-mongo
  namespace: {{ .Release.Namespace }}
spec:
  serviceName: {{ include "chart.fullname" . }}-mongo
  replicas: {{ .Values.mongo.replicas }}
  selector:
    matchLabels:
      app: {{ include "chart.fullname" . }}-mongo
  template:
    metadata:
      labels:
        app: {{ include "chart.fullname" . }}-mongo
    spec: 
      containers:
      - name: {{ include "chart.fullname" . }}-mongo
        image: {{ .Values.mongo.mongo.image.repository }}:{{ .Values.mongo.mongo.image.tag }}
        args: {{- toYaml .Values.mongo.mongo.args | nindent 8 }}
        livenessProbe: {{- toYaml .Values.mongo.mongo.livenessProbe | nindent 10 }}
        ports:
        - containerPort: {{ (index .Values.mongo.ports 0).port }}
        volumeMounts:
        - name: data
          mountPath: /data/db
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: {{ .Values.mongo.storageSize }}
      storageClassName: {{ .Values.mongo.storageClass }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-mongo
  namespace: {{ .Release.Namespace }}
spec:
  clusterIP: None
  selector:
    app: {{ include "chart.fullname" . }}-mongo
  ports:
  {{- .Values.mongo.ports | toYaml | nindent 2 }}